
#main__container{
  width:400px;
  height:400px;
  background-image: linear-gradient(to right top, #cfc1cf, #b0a4b0, #928892, #756d76, #59535a, #4e494f, #443f44, #3a363a, #3d393d, #3f3c3f, #423f42, #454245);
  
  display: flex;
  border-radius:100%;
  border: 200px red;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}
button{
  width:50px;
  height:50px;
  background-image: linear-gradient(to right top, #cfc1cf, #b0a4b0, #928892, #756d76, #59535a, #49444a, #39363b, #2a282c, #222124, #1a1a1c, #121213, #070707);
}

