*{
  margin:0;
  padding: 0;
}
body {
  background-image: linear-gradient(to right top, #a092a0, #8f7e90, #7f6a81, #6e5772, #5e4563, #523957, #462e4b, #3a233f, #2f1c33, #251627, #1b0e1c, #100210);
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
